@using Studenter.HtmlHelperExtensions
<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("Студенты", "List", "Student")
        @Html.MenuItem("Учителя", "List", "Teacher")
        @Html.MenuItem("Групы", "List", "Group")
        @*@Html.MenuItem("Statistics (Charts)", "Index", "Statistics")
        @Html.MenuItem("Forms", "Index", "Forms")
        @Html.MenuItem("Tables", "Index", "Tables")
        @Html.MenuItem("Buttons &amp; Icons", "Index", "Buttons")
        @Html.MenuItem(" WYSIWYG Editors", "Index", "Editors")
        @Html.MenuItem(" UI &amp; Interface", "Index", "Interface")*@     
    </ul>
</div>

